header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 25vmin;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 30%;
}

.header-upper-block-grid {
    width: 100%;
    height: 100%;
    background-color: #25644F;
    box-shadow: inset 0 -0.35vmin 0.35vmin rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-upper-block-grid h2 {
    color: #ffff;
    text-align: left;
}

.header-upper-block {
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;
    column-gap: 0;
}

.logo-link {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    margin: 0;
    padding: 0;
    height: 90%;
    width: 90%;
}

.header-lower-block-grid {
    width: 100%;
    height: 100%;
    background: #287D62;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-lower-block-nav {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button {
    height: 70%;
    width: 20%;
    background-color: #ffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #287D62;
    border-radius: 0.5vmin;
}

.nav-button:hover {
    box-shadow: 0 0 0.35vmin 0.5vmin rgba(0, 0, 0, 0.25);
}