section {
    margin-top: 3vh;
    background-color: #ffff;
    width: 60%;
}


/*блок заголовок с картинкой */

.section-background-overlay {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url('../../img/student-at-the-computer.jpg');
    background-position: center;
    background-size: 100% 100%;
    border-radius: 5px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.3);
}

.section-background-overlay-darkening {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    border-radius: 5px;
    justify-items: center;
    align-items: center;
}

.information-about-the-olympiad-head {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
    background-color: #287D62;
}

.information-about-the-olympiad-text {
    width: 100%;
    height: 100%;
    color: #ffff;
    font-size: 16pt;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* блок с направлениями */

.information-about-the-olympiad-directions-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 5fr;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: inset 0 0 4px 4px rgba(0, 0, 0, 0.25);
}

.directions-grid-head {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #287D62;
}

.directions-grid-item-one {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #287D62;
    box-shadow: 2px -2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 0 5px;
    color: #ffff;
}

.directions-grid-item-two {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #287D62;
}

.directions-grid-item-three {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #287D62;
    box-shadow: -2px -2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 5px 0;
    color: #ffff;
}


/* блок "важно знать" */

.information-about-the-olympiad-important-know-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.important-know-grid-head {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #287D62;
    border-radius: 5px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #ffff;
}

.important-know-grid-item-one {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    height: 100%;
    display: grid;
    box-shadow: inset 0 0 4px 4px rgba(0, 0, 0, 0.25);
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    gap: 0;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
}

.important-know-grid-item-two {
    width: 100%;
    height: 100%;
    display: grid;
    box-shadow: inset 0 0 4px 4px rgba(0, 0, 0, 0.25);
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    gap: 0;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
}

.important-know-grid-item-three {
    width: 100%;
    height: 100%;
    display: grid;
    box-shadow: inset 0 0 4px 4px rgba(0, 0, 0, 0.25);
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    gap: 0;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
}

.view-info-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #287D62;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
}


/* блок "этапы олимпиады" */

.information-about-the-olympiad-stages-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    column-gap: 40px;
    row-gap: 20px;
    justify-items: center;
    align-items: center;
}

.stages-grid-head {
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: #287D62;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
}

.stages-grid-item {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
    align-items: center;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: #287D62;
}


/* блок с номерами этапа */

.stage-number-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffff;
}

.horizontal-text {
    font-size: 60pt;
}

.vertical-text {
    font-size: 15pt;
    writing-mode: vertical-rl;
    transform: scale(-1);
}

.stages-description {
    width: 100%;
    height: 100%;
    background-color: #ffff;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #287D62;
    display: flex;
    justify-content: center;
    align-items: center;
}